@import '../../index.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.header-cart {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  color: var(--color-white);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-left: 15px;
}
